---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import '@fontsource/silkscreen'
import { Icon } from 'astro-icon'
import Card from '../components/Card.astro'
import HeaderSocials from '../components/HeaderSocials.astro'

const technologies = [
  {
    name: 'React JS',
    link: 'https://react.dev/',
  },
  {
    name: 'Next JS',
    link: 'https://nextjs.org/',
  },
  {
    name: 'Astro JS',
    link: 'https://astro.build/',
  },
  {
    name: 'MySQL',
    link: 'https://mysql.com/',
  },
  {
    name: 'MongoDB',
    link: 'https://mongodb.com/',
  },
  {
    name: 'SocketIO',
    link: 'https://socket.io/',
  },
  {
    name: 'ElectronJS',
    link: 'https://electronjs.org/',
  },
  {
    name: 'Firebase',
    link: 'https://firebase.google.com/',
  },
  {
    name: 'Google Admin',
    link: 'https://workspace.google.com/intl/en_in/products/admin/',
  },
  {
    name: 'Flask',
    link: 'https://flask.palletsprojects.com/',
  },
  {
    name: 'WiX',
    link: 'https://wix.com/',
  },
  {
    name: 'Framer',
    link: 'https://framer.com/',
  },
  {
    name: 'WordPress',
    link: 'https://wordpress.org/',
  },
  {
    name: 'Linux',
    link: 'https://www.linuxfoundation.org/',
  },
]
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-foreground bg-basecolor">
    <Header title={SITE_TITLE} />
    <main
      class="bg-background flex flex-col gap-12 justify-center items-center min-h-[96vh] p-4 relative"
      id="pixel"
    >
      <h1
        class="font-title text-7xl md:text-[112px] text-center leading-none px-4 hero-title z-10"
      >
        Yash Jawale
      </h1>
      <HeaderSocials />
    </main>

    <section
      class="container mx-auto py-20 grid md:grid-cols-2 gap-8 px-6 sm:px-20 2xl:px-16"
    >
      <Card title="About">
        <p>
          I'm a Computer Engineering student at <a
            href="https://engg.dypvp.edu.in/"
            class="underline"
            target="_blank">DIT, Pimpri</a
          >. Anything even remotely related to computers excites me. I'm
          proficient in web development & have been making websites for
          businesses from a few years.
        </p><p>
          I'm always learning about new stuff in web. I enjoy messing around
          with Linux & exploring its possibilities.
        </p>
      </Card>
      <Card title="Tech Stack">
        <div class="flex gap-3 flex-wrap">
          {
            technologies.map((tech) => (
              <a
                class="border-[1px] border-foreground p-2 rounded-md text-sm transition-colors duration-75 hover:text-basecolor hover:bg-foreground"
                href={tech.link}
                target="_blank"
              >
                {tech.name}
              </a>
            ))
          }
        </div>
      </Card>
    </section>
    <section
      class="container mx-auto px-6 pb-20 flex flex-col justify-center items-center gap-8"
    >
      <h2 class="font-title text-5xl pb-8 text-center">Get in Touch</h2>
      <a class="underline text-xl" href="mailto:yash25.j@gmail.com"
        >yash25.j@gmail.com</a
      >
      <a
        class="flex p-3 bg-foreground text-basecolor rounded-md text-lg transition-transform hover:-translate-y-1 hover:shadow-lg"
        href="https://yashjawale.github.io/resume/cv.pdf"
        download
        target="_blank"
        >Download Resume <Icon
          style="width: 24px;"
          name="clarity:download-line"
        /></a
      >
    </section>
    <Footer />
    <style>
      [astro-icon] {
        width: 42px;
      }

      .hero-title {
        text-shadow:
          1px 1px #444,
          -1px -1px white,
          0px 2px 4px #999;
        transition: all;
      }

      .dark .hero-title {
        text-shadow:
          1px 1px #444,
          -1px -1px white,
          0px 2px 4px #999,
          0 0 24px white;
        color: white;
      }
    </style>
    <script>
      const pixelContainer = document.querySelector('#pixel')

      if (pixelContainer) {
        function randomIntFromInterval(min: number, max: number): number {
          return Math.floor(Math.random() * (max - min + 1) + min)
        }

        setInterval(() => {
          let containerWidth = pixelContainer?.clientWidth
          let containerHeight = pixelContainer?.clientHeight
          let pixelX = randomIntFromInterval(0, containerWidth - 12)
          let pixelY = randomIntFromInterval(0, containerHeight - 12)
          const pixel = document.createElement('span')
          pixel.className = 'pixel'
          pixel.style.top = `${pixelY}px`
          pixel.style.left = `${pixelX}px`
          pixelContainer.appendChild(pixel)
          setTimeout(() => pixelContainer.removeChild(pixel), 2000)
        }, 600)
      }
    </script>
  </body>
</html>
