---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import logo from '../../public/logo.svg'

const links = [
	{
		display: 'Home',
		location: '/'
	},
	{
		display: 'Blog',
		location: '/blog'
	},
	{
		display: 'Contact',
		location: 'mailto:yash25.j@gmail.com'
	}
]
---

<header class="fixed top-0 w-full z-40">
  <nav class="bg-background text-foreground">
    <div
      class="container mx-auto flex px-6 justify-between items-center py-6 sm:px-16"
    >
      <h2><a href="/"><Image width={50} src={logo} alt={'Logo'} /><span class="hidden">Home</span></a></h2>
      <!-- <div class="gap-14 hidden md:flex">
				{links.map(link => <HeaderLink href={link.location}>{link.display}</HeaderLink>)}
      </div> -->
      <button class="block">
        <Icon name="ic:baseline-brightness-medium" />
      </button>
      <!-- <button class="md:hidden" id="nav-open-btn">
        <Icon name="ic:round-menu" />
      </button> -->

      <!-- Mobile nav -->
      <div
        class="translate-x-full fixed top-0 right-0 bg-white h-screen w-5/6 px-8 py-6 transition-transform z-40 border-l-[1px] border-background" id="mobile-menu"
      >
        <div class="flex justify-between">
          <button>
            <Icon name="ic:baseline-brightness-medium" />
          </button>
          <button id="nav-close-btn">
            <Icon name="ic:round-close" />
          </button>
        </div>
        <div class="flex flex-col items-center justify-center gap-20 pt-24">
					{links.map(link => <HeaderLink class='uppercase font-semibold' href={link.location}>{link.display}</HeaderLink>)}
        </div>
      </div>
    </div>
  </nav>

  <style lang="css">
    [astro-icon] {
      width: 26px;
    }
  </style>

	<script>
		function toggleNav() {
			document.querySelector('#mobile-menu')?.classList.toggle('translate-x-full')
		}

		document.querySelector('#nav-open-btn')?.addEventListener('click', toggleNav)
		document.querySelector('#nav-close-btn')?.addEventListener('click', toggleNav)
	</script>
</header>
