---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { MarkdownHeading } from 'astro'
import TableOfContents from '../components/TableOfContents.astro'

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] }

const { title, description, pubDate, updatedDate, heroImage, heroImageCredit, headings } =
  Astro.props

import '@fontsource-variable/manrope';
import '@fontsource-variable/jetbrains-mono';
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="text-foreground bg-background transition-colors">
    <Navbar />
    <main>
      <article>
        <div
          class="app-container flex flex-col md:flex-row justify-between gap-8 py-24 relative"
        >
          <!--<div class="grow w-full md:max-w-[85ch]">-->
          <div class="grow w-full md:max-w-[75ch]">
            <div>
              <div>
                <h1 class="text-5xl leading-snug pt-7 font-semibold">
                  {title}
                </h1>
                <div
                  class="text-lg uppercase flex items-center gap-2 flex-nowrap py-6"
                >
                  <FormattedDate date={pubDate} />
                  {
                    updatedDate && (
                      <span class="italic capitalize">
                        Last updated on <FormattedDate date={updatedDate} />
                      </span>
                    )
                  }
                </div>
                <img src={heroImage} alt={title} class="rounded-lg" />
                <p class="mt-2 mb-8 opacity-80 italic text-sm">Image Credit: {heroImageCredit}</p>
              </div>
            </div>
            <div class="blog-content">
              <slot />
            </div>
          </div>
          <div class="md:w-1/4 relative">
            <div class="sticky top-0 md:top-28">
              <TableOfContents headings={headings} />
            </div>
          </div>
        </div>
      </article>
    </main>
    <style>
      .callout-dulled {
        @apply md:opacity-70 hover:opacity-100;
      }
    </style>
    <Footer />
  </body>
</html>
