---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { MarkdownHeading } from 'astro'
import TableOfContents from '../components/TableOfContents.astro'

type Props = CollectionEntry<'blog'>['data'] & { headings: MarkdownHeading[] }

const { title, description, pubDate, updatedDate, heroImage, headings } =
  Astro.props
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="text-foreground bg-background transition-colors">
    <Header />
    <main>
      <article>
        <div
          class="app-container flex flex-col md:flex-row justify-between gap-8 py-24 relative"
        >
          <div class="grow w-full md:max-w-[85ch]">
            <div>
              <div>
                <h1 class="text-5xl leading-snug pt-7">
                  {title}
                </h1>
                <div
                  class="text-lg uppercase flex items-center gap-2 flex-nowrap py-6"
                >
                  <FormattedDate date={pubDate} />
                  {
                    updatedDate && (
                      <span class="italic capitalize">
                        Last updated on <FormattedDate date={updatedDate} />
                      </span>
                    )
                  }
                </div>
                <img src={heroImage} alt={title} class="rounded-lg mb-8" />
              </div>
            </div>
            <div class="blog-content">
              <slot />
            </div>
          </div>
          <div class="md:w-1/4 relative">
            <div class="sticky top-0 md:top-28">
              <TableOfContents headings={headings} />
            </div>
          </div>
        </div>
      </article>
    </main>
    <style>
      .callout-dulled {
        @apply md:opacity-70 hover:opacity-100;
      }
    </style>
    <script is:inline>
      window.onscroll = function () {
        if (
          document.body.scrollTop > 768 ||
          document.documentElement.scrollTop > 768
        ) {
          document
            .getElementById('mailing-list-callout')
            .classList.add('callout-dulled')
        } else {
          document
            .getElementById('mailing-list-callout')
            .classList.remove('callout-dulled')
        }
      }
    </script>
    <Footer />
  </body>
</html>
